In [2]:
import pandas as pd
import numpy as np

In [3]:
people={
    "first":["Corey", "Jane", "John","Adam",np.nan, None, 'NA'],
    "last":["Schafer","Doe", "Doe","Doe",np.nan, np.nan, 'Missing'],
    "email":["email@gmail.com", "email2@gmail.com", "email3@gmai0l.com",np.nan, None,"email4@gmail.com", 'Missing'],
    "age":['33','55','63','36',None, None, 'Missing']
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last              email      age
0  Corey  Schafer    email@gmail.com       33
1   Jane      Doe   email2@gmail.com       55
2   John      Doe  email3@gmai0l.com       63
3   Adam      Doe                NaN       36
4    NaN      NaN               None     None
5   None      NaN   email4@gmail.com     None
6     NA  Missing            Missing  Missing

In [ ]:
df.dropna()

In [ ]:
### par√°metros por defecto
df.dropna(axis='index',how='any')

In [9]:
df.dropna(axis='index', how='all')

   first     last              email      age
0  Corey  Schafer    email@gmail.com       33
1   Jane      Doe   email2@gmail.com       55
2   John      Doe  email3@gmai0l.com       63
3   Adam      Doe                NaN       36
5   None      NaN   email4@gmail.com     None
6     NA  Missing            Missing  Missing

In [10]:
df.dropna(axis='index',how='all',subset=['last','email'])

   first     last              email      age
0  Corey  Schafer    email@gmail.com       33
1   Jane      Doe   email2@gmail.com       55
2   John      Doe  email3@gmai0l.com       63
3   Adam      Doe                NaN       36
5   None      NaN   email4@gmail.com     None
6     NA  Missing            Missing  Missing